<main>
    <section>
        {{#with heading}}
            <div class="card">
                <div class="card-body">
                    {{#with main}}
                    <div class="card">
                        <div class="card-body">
                            <h1>{{title}}</h1>
                            <p>{{text}}</p>
                            {{#with button_text}}
                            <div>
                            <button type="button" class="btn btn-primary">{{solid}}</button>
                            </div>
                            <br>
                            <div>
                            <button type="button" class="btn btn-outline-primary">{{outline}}</button>
                            </div>
                            {{/with}}
                        </div>
                    </div>
                    {{/with}}
                    <br>
                    {{#with second}}
                    <div class="card">
                        <div class="card-body">
                            <h2>{{title}}</h2>
                            <p>{{text}}</p>
                            {{#with button_text}}
                            <div>
                                <button type="button" class="btn btn-secondary">{{solid}}</button>
                            </div>
                            <br>
                            <div>
                                <button type="button" class="btn btn-outline-secondary">{{outline}}</button>
                            </div>
                            {{/with}}
                        </div>
                    </div>
                    {{/with}}
                    <br>
                    {{#with subblock}}
                    <div class="card">
                        <div class="card-body">
                            <h3>{{title}}</h3>
                            <p>{{text}}</p>
                            {{#with button_text}}
                            <div>
                                <button type="button" class="btn btn-dark">{{solid}}</button>
                            </div>
                            <br>
                            <div>
                                <button type="button" class="btn btn-outline-dark">{{outline}}</button>
                            </div>
                            {{/with}}
                        </div>
                    </div>
                    {{/with}}
                    <br>
                </div>
            </div>
        {{/with}}
    </section>
    <section>
        {{#with nested_display}}
        <div class="card">
            <div class="card-body">
                <h1 class="display-1">{{title}}</h1>
                {{#with children_display}}
                <div class="card">
                    <div class="card-body">
                        <h1 class="display-4">{{title}}</h1>
                        <p>{{text}}</p>
                        <div>
                            <button type="button" class="btn btn-outline-warning">{{button.text}}</button>
                        </div>
                    </div>
                </div>
                {{/with}}
                <br>
                <div>
                    <h6>{{header_text}}</h6>
                    <div>
                        <button type="button" class="btn btn-info">{{button.text}}</button>
                    </div>
                </div>
            </div>
        </div>
        {{/with}}
    </section>
    <section>
        {{#with paragraph}}
        <div class="card">
            <div class="card-body">
                <div>
                    <p>{{title}}</p>
                </div>
                <div>
                    <p>{{text}}</p>
                </div>
                <div>
                    <a href="{{button.url}}" target="_blank">
                        <button type="button" class="btn btn-link">{{button.text}}</button>
                    </a>
                </div>
                <br>
                <div class="card">
                    <div class="card-body">
                        <div>
                            <ul>
                                {{#each list_name}}
                                <li>
                                    <a href="{{url}}"> 
                                    <button type="button" class="btn btn-link">{{text}}</button>
                                    </a>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/with}}
    </section>
</main>