<main>
    {{#with main}}
    <section>
        {{> title data="Work History" big=true}} 
        <div>
            <ul class="list-group">
                {{#each works}}
                    <li class="list-group-item">
                        <div>
                            {{position}}
                        </div>
                        <br>
                        <div>
                            {{duration.from}} - 
                            {{#if duration.to}} {{duration.to}} 
                            {{else}} (still working) 
                            {{/if}}
                        </div>
                        <div>
                            <b>{{company.name}}</b>
                        </div>
                        <div class="mb-3">
                            <strong>Projects ({{projectAmount}})</strong>
                        </div>
                        <ul class="list-group">
                            {{#each projects}}
                            <li class="list-group-item">
                                <div>
                                    <a href="{{url}}">{{name}}</a>
                                </div>
                                <div>
                                    <p>{{about}}</p>
                                </div>
                                <div>
                                    <em>Project stacks ({{stackAmount}})</em>
                                </div>
                                <div>
                                    <ul>
                                        {{#each stacks}}
                                        <li>
                                            {{name}}
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                                <br>
                                <div>
                                    <em>Project awards</em>
                                </div>
                                <br>
                                <div>
                                    <ul>
                                        {{#each awards}}
                                        <li>
                                            {{name}}
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                {{/each}}
            </ul>
        </div>
    </section>
    {{/with}}
</main>