<div class="card mb-3">
    <div class="row g-2">
        <div class="col-2">
            <img src="{{image}}" class="img-fluid rounded-start" alt="{{name}}">
        </div>
        <div class="col-5">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <small class="card-text">{{description}}</small>
            </div>
        </div>
        <div class="col-2">
            <div class="card-body">
                <p class="text-center">{{price.title}}: <b>{{price.value}}</b></p>
            </div>
        </div>
        <div class="col-1">
            <div class="card-body">
                <small class="text-center">{{amount}}</small>
            </div>
        </div>
        <div class="col-2">
            <div class="card-body text-center">
                {{#each buttons}}
                {{#if isPrimary}}
                <button type="button" class="btn btn-primary mb-2">{{text}}</button>
                {{else}}
                <button type="button" class="btn btn-outline-danger">{{text}}</button>
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</div>