<footer>
    <hr>
    <br>
    <div>
        {{#with social}}
            <a href="{{email.href}}" class="me-2">{{email.text}}</a>
            <a href="{{phone.href}}"class="me-2">{{phone.text}}</a>
            <a href="{{linkedin.href}}"class="me-2">{{linkedin.text}}</a>
        {{/with}}
    </div>
    <br>
    <div>
        <em>Copyright {{firstname}} {{lastname}}</em>
        <br>
        <br>
        <div>
            <address>{{address}}</address>
        </div>
    </div>
</footer>
